doctype html
html
    head
        title Includes Example

        style
            include ./style.css
    body
        h1 Hello World

    div(class='container')
        div(class="donut-chart-block block")
            div(class='donut-chart')
                div(id="porcion1" class="recorte")
                    div(class='quesito ios' data-rel="21")
                div(id="porcion2" class="recorte")
                    div(class='quesito mac' data-rel="39")